body{
    background: black;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:0.25;
}
.titre{
    color: white;
    font-size: 30px;
}
.yellow{
    color: yellow;
}
.green{
    color: chartreuse;
}
.brown{
    color: brown;
}